{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Irrean", "Falral'irrean", "Falral'kolnofalralfe", "falral'falneral", "Falan", "Falral'kikolnofalral", "Falral'falan", "Falral'e", "Falral'uankinoral", "Falral'u", "Noire'linharnoral", "Falral'harkinoral", "Hil", "Falral'fi", "Falral'ukinoral", "Falral'nean"]
    ]
  ]
}
